html{
    background-image: url('full-bloom.png');
    background-repeat: repeat;
}
a{
    color: steelblue;
    text-decoration-line: none;
}
.item{
    color: steelblue;
}
.link{
    color: rgb(28, 133, 133);
}
.header{
    color: darkslategray;
}
.submit{
    color: darkslategray;
}
.pane{

    border: dashed grey 1pt;
    border-radius: 5vw;
    text-align: center;
    height: 95vh;
}

.citem{
    color: dimgrey;
   
}

.dim{
    color: lightslategray;
    font-weight: 200;
    font-size: 0.8em;
    font-style: oblique;
}