html{
    background-image: url('full-bloom.png');
    background-repeat: repeat;
    margin: 4vw;
}
a{
    color: steelblue;
    text-decoration-line: none;
}
.item{
    color: steelblue;
    
}
.article{
    text-align: center;
    margin: 5pt;

    
}
.link{
    color: rgb(28, 133, 133);
}
.header{
    color: darkslategray;
    text-transform: capitalize;
}
.submit{
    color: darkslategray;
}
.owner{
    text-transform: capitalize;
    color:  rgb(28, 133, 133);;
}
.cname{
    text-transform: capitalize;
}
.pane{

    border: dashed grey 1pt;
    border-radius: 5vw;
    text-align: center;
    
    display: block;
    block-size: inherit;

    height: 95%;
    margin: 5pt;

}
.art{
    order: 1;
    width: 100%;
}
.art2{
    order: 2;
    width: 100%;
    
}
.art3{
    order: 3;
    width: 100%;
}
.citem{
    color: dimgrey;
   
}

.dim{
    color: lightslategray;
    font-weight: 200;
    font-size: 0.8em;
    font-style: oblique;
}