<!DOCTYPE html>
<html>
    <head>
        <title>
            Article Hive Collections
        </title>    
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
    </head>
    <body>
        <div class="pane">
            <h1 class="header">Article Hive Collections</h1>
            <div>
                <a href="{{url_for('newCollection')}}" class="link">add new collection</a>
            </div>
            
			{% with messages = get_flashed_messages() %}
                {% if messages %}
					<ul class="dim">
						{% for message in messages %}
						<li>
						<strong>{{ message }}</strong>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
            {% endwith %}
            <p> </p>
            {% for c in collecInfo %}
            <div class="item" >
                <div class="cname">
                    <a href="{{url_for('collectionList', collection_id= c.cid )}}">{{ c.cname }}</a>
                    - <a class="owner" href="{{url_for('viewAuthor', user_id= c.uid )}}">{{c.uname}} </a>
                </div>
                {% if loggedinuser == c.uid %}
                <div>
                    <a href="{{url_for('editCollection', collection_id= c.id )}}" class="citem"> edit </a>
                    <a href="{{url_for('deleteCollection', collection_id= c.id )}}" class="citem"> delete </a>
                </div>
                {% endif %}
                
                
            </div>
            
            {% endfor %}
            <br><br>
            <a class="link" href="{{url_for('gdisconnect')}}">LOG OUT</a>

        </div>
    </body>
</html>