<!DOCTYPE html>
<html>
    <head>
        <title>Collection {{collection.name}}</title>
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
    </head>
    <body>
        <div class="pane">
            <h1 class="header">{{collection.name}}</h1>

            <a href="{{url_for('newArticle', collection_id=collection.id)}}" class="link">add new article</a><br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="dim">
                    {% for message in messages %}
                    <li>
                    <strong>{{ message }}</strong>
                    </li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
            {% if articles %}
            {% for a in articles %}
            <p class="item" >

                <a href="{{url_for('viewArticle', collection_id= collection.id, article_id=a.id )}}">{{ a.name }}</a>
                <label class="dim">{{ a.date }}</label>
            </p>
            {% else %}
            <p class="item" >
                There are no articles yet in {{collection.name}}. Use add new article to add one.
            </p>
            {% endfor %}
            {% endif %}
            
            <div><a class="link" href="{{url_for('viewAuthor', user_id=collection.user_id )}}">Back to author <object class="owner">{{owner.name}}</object> </a>  </div>
            <div> <a class="link" href="{{url_for('DefaultCollections')}}">Back to main page </a>  </div><br><br>
            <a class="link" href="{{url_for('gdisconnect')}}">LOG OUT</a>
        </div>
    </body>
</html>
