{% extends "viewarticle.html" %}
{% block content  %}
 <div class="">
  <h3 class="header">Comments</h3>
  <div class="art2">
        <form action="{{ url_for('addComment', collection_id=collection_id, article_id=article_id) }}" method=post>
        
            <label class="item">title: </label><br>
            <input class="item" type='text' size="38" name='title' required> <br>
            <label class="item"  >text: </label> <br>
            <textarea  class="item" type='text' rows="5" cols="40"  name='text' required></textarea><br>
           <button class="citem submit"  type=submit  class="submit" >add </button>
        </form>
      </div>


{% endblock %}