<!DOCTYPE html>
<html>
    <head>
        <title>
            Article Hive Collections
        </title>    
        <link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
    </head>
    <body>
        <div class="pane">
            <h1 class="header">Article Hive Collections</h1>

			{% with messages = get_flashed_messages() %}
                {% if messages %}
					<ul class="dim">
						{% for message in messages %}
						<li>
						<strong>{{ message }}</strong>
						</li>
						{% endfor %}
					</ul>
				{% endif %}
            {% endwith %}
            {% for c in c %}
            <div class="item" >
                <div class="cname">
                    <a href="{{url_for('collectionList', collection_id= c.id )}}">{{ c.cname }}</a> - <label class="owner">{{ c.uname}}</label>
                </div>
                
                
            </div>
            
            {% endfor %}

        </div>
    </body>
</html>