<!DOCTYPE html>
<html>
    <head>
        <title>
            {{art.name}}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel=stylesheet type=text/css href='{{url_for('static', filename='style.css')}}'>
    </head>
    <body>
        <div class="pane">
            <div class="art">
            <h2 class="header">{{art.name}}</h2>
            
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class="dim">
                    {% for message in messages %}
                    <li>
                    <strong>{{ message }}</strong>
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}
            {% endwith %}
            {% if viewer == art.user_id %}
            <a href="{{url_for('editArticle', collection_id=collection_id, article_id=article_id )}}" class="citem"> edit </a>
            <a href="{{url_for('deleteArticle', collection_id=collection_id, article_id=article_id )}}" class="citem"> delete </a><br>
            {% endif %}
            <p class="item article">
                
                {{art.text}}
            </p><br>

            <br> <br></div>
            
            <div class="art2">
                    <h3 class="header">Comments</h3>
                    {% if comments %}
                    <div class="item ">
                        {% for c in comments %}
                      <br><object class="citem"><strong>{{ c.ctitle }}</strong></object> <br>
                      <object class="item cname"><strong>{{ c.owner }} </strong></object><label class="dim">{{ c.date }}</label> <br>
                      <object class="citem">{{ c.ctext }}</object><br>
                    
                    {% endfor %}
                </div>
                    {% else %}
                    <div class="item ">
                        There are no comments to this article yet.. Be the first one to comment <br> <br>
                    </div>
               
                    {% endif %} </div>
            <a class="link" href="{{url_for('addComment', collection_id=collection_id, article_id=article_id)}}">add a comment</a> <br>
            
            
                <br>
           
            
             {% block content %}{% endblock %}
             <div class="art">
                <a class="link " href="{{url_for('collectionList', collection_id=collection_id)}}"  >back to <object class="cname" >{{coll.name}} </object> </a><br><br>
                <a class="link" href="{{url_for('gdisconnect')}}">LOG OUT</a>
                </div>
        </div></div> 
    </body>
</html>